body{
  background-color: pink;
  font-size: 25px;
  font-weight: bold;
}
img{
  margin: 10px;
  border: solid black;
}
h1 {
  color: red;
  background-color: black;
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

#diebox {
  height: 50%
}

.row {
  border-bottom: solid black;
}
